{% extends 'base.html' %}
{% block content %}
  <h2>Добавяне на ученик</h2>
  <form method="POST" action="{{ url_for('add_student') }}">
    {{ csrf_token() }}
    <label>Първо име:</label><br>
    <input type="text" name="first_name" required><br><br>

    <label>Фамилия:</label><br>
    <input type="text" name="last_name" required><br><br>

    <label>Клас:</label><br>
    <input type="text" name="class" required><br><br>

    <label>Дата на раждане:</label><br>
    <input type="date" name="date_of_birth"><br><br>

    <button type="submit">Запази</button>
  </form>
{% endblock %}
