{% extends 'base.html' %}
{% block content %}
  <h2>Добавяне на оценка</h2>
  <form method="POST" action="{{ url_for('add_grade') }}">
    {{ csrf_token() }}
    <label>Избери ученик:</label><br>
    <select name="student_id" required>
      <option value="">-- Избери ученик --</option>
      {% for s in students %}
        <option value="{{ s.id }}">{{ s.first_name }} {{ s.last_name }} ({{ s.class }})</option>
      {% endfor %}
    </select><br><br>

    <label>Предмет:</label><br>
    <input type="text" name="subject" required><br><br>

    <label>Оценка:</label><br>
    <input type="number" name="grade" min="2" max="6" required><br><br>

    <label>Дата на поставяне:</label><br>
    <input type="date" name="date_given" required><br><br>

    <button type="submit">Добави</button>
  </form>
{% endblock %}
