{% extends 'base.html' %}

{% block content %}
  <h2>Вашите оценки</h2>

  {% if grades %}
    <table>
      <thead>
        <tr>
          <th>Предмет</th>
          <th>Оценка</th>
          <th>Дата</th>
        </tr>
      </thead>
      <tbody>
        {% for subject, grade, date_given in grades %}
          <tr>
            <td>{{ subject }}</td>
            <td>{{ grade }}</td>
            <td>{{ date_given }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>Все още нямате записани оценки.</p>
  {% endif %}
{% endblock %}
