{% extends 'base.html' %}

{% block content %}
<h2>Вход</h2>
<form method="POST" class="form">
    <label>Имейл:</label>
    <input type="email" name="email" required>

    <label>Парола:</label>
    <input type="password" name="password" required>

    <label>Вход като:</label>
    <div class="role-select">
        <input type="radio" name="role" value="user" id="student" checked>
        <label for="student">Ученик</label>
        <input type="radio" name="role" value="admin" id="teacher">
        <label for="teacher">Учител</label>
    </div>

    <button type="submit">Влез</button>
</form>
{% endblock %}
