<!DOCTYPE html>
<html lang="bg">
<head><meta charset="UTF-8"><title>Електронен Дневник</title>
<link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <h1>Добре дошъл!</h1>
  <p>
    <a href="/login">Вход</a> |
    <a href="/signup">Регистрация</a>
  </p>
  <p>След вход:
    <a href="/students">Ученици (admin)</a> |
    <a href="/grades">Моите оценки (user)</a> |
    <a href="/absences">Моите отсъствия (user)</a> |
    <a href="/logout">Изход</a>
  </p>
</body>
</html>
