<!DOCTYPE html>
<html lang="bg">
<head><meta charset="UTF-8"><title>Регистрация</title>
<link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <h1>Регистрация</h1>
  <form action="/signup" method="post">
    <label>Потребителско име: <input name="username"></label><br>
    <label>Имейл: <input name="email" type="email"></label><br>
    <label>Парола: <input name="password" type="password"></label><br>
    <button type="submit">Регистрирай се</button>
  </form>
  <p><a href="/login">Имаш акаунт? Влез</a></p>
</body>
</html>
